
$color-primary: #FFCD00;
$color-secondary: #007698;
$color-highlight: #C8102E;

$color-background-light: #BFBFBF;
$color-background-dark: #565453;

$color-font-main: #2C2A29;

$bp-large: 1100px;
$bp-medium: 900px;
$bp-small: 700px;
$bp-smallest: 500px;

$font-family: 'Montserrat', sans-serif;


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    
    


}

body {
    font-family: $font-family;
    color: $color-font-main;
    font-weight: 500;
}
