.seperator {
    height: 9rem;
    
    &__img {
        height: 100%;
        width: 100%;
        @media (max-width: $bp-small) {
            display: none;
            
        }
        
    }
    @media (max-width: $bp-medium) {
        height: 0;
        
    }

    
}

.seperator-ty {
    height: 9rem;
    
    &__img {
        height: 100%;
        width: 100%;
        
        
    }
    @media (max-width: $bp-small) {
        height: 10vw;
        
    }

    

}

.content {
    
    
    max-width: 90rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    &__p {
        
        
    }

    &__items {
       margin-bottom: 1.7rem;
       list-style-position: outside;
       @media (max-width: $bp-small) {
        margin-bottom: .5rem;
        
    }

    }

    &__item {
        
        margin-left: 6rem;
        margin-right: 5rem;
        color: $color-secondary;
        font-weight: 600;
        font-size: 1.3rem;
        @media (max-width: $bp-small) {
            margin-left: 1.5rem;
            margin-right: 0;
            font-size: 7px;
        }
    }

    &__item-inner {
        padding-left: 8px;
        display: block;
        margin-bottom: 1rem;
        color: $color-font-main;
        @media (max-width: $bp-small) {
            padding-left: 2px;
        }
    }

    &__title {
        
        
        margin-bottom: 1.7rem;
        color: $color-secondary;

        @media (max-width: $bp-small) {
            margin-top: 2rem;
            font-size: 1.8rem;
            margin-bottom: .5rem;
        }
    }

    &__link {
        color: $color-secondary;
        text-decoration: none;
    }

    &__footer {
        margin-top: 3rem;
        

        @media (max-width: $bp-small) {
            margin-top: 2rem;
        }
    }
}