.hero-ty {

    


    &__img {

        width: 100%;
        height: auto;
        margin-bottom: -3px;
    }

    &__appt {
        background-image: url("images/ty-appt-hero.jpg");
    }
    &__guide {
        background-image: url("images/ty-guide-hero.jpg");
    }
}