.home-video {
    padding: 0 5rem 3rem 5rem;
    
    @media (max-width: $bp-small ) {
       padding: 0 0 3rem 0;
        
     }

    
    &__video {

        max-width: 63rem;
        width: 100%;
        
        @media (max-width: $bp-small ) {
            max-width: 100%;
     
         }
        
    }
}