.ty-images {
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: flex;

    &__box {
        flex:1;
    }

    &__box:first-child {
        padding-right: 3rem;
    }

    &__box:last-child {
        padding-left: 3rem;
    }

    

    &__img {
        width: 100%;
        display: block;
    }

    
    @media (max-width: $bp-small) {
        padding-bottom: 0;
        &__box:first-child,
        &__box:last-child {
            padding: 0;
            margin-bottom: 3rem;
        }
        flex-direction: column;
        

    }

}