.heading-1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: $color-primary;
    line-height: 2.6rem;
    letter-spacing: 0.01em;

}

.heading-2 {
    font-size: 2rem;
    font-weight: 600;
    
    letter-spacing: 0.01em;

    @media (max-width: $bp-small) {
        font-size: 1.8rem;
    }
    
}
.heading-3 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 2.8rem;
    margin-bottom: 1.7rem;

    @media (max-width: $bp-small) {
        font-size: 1.2rem;
        margin-bottom: .5rem;
        line-height: 1.8rem;
    }
}
.heading-4 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.01em;
    line-height: 2.6rem;
    margin-bottom: 2rem;

    @media (max-width: $bp-small) {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        margin-left: 0;
        line-height: 1.8rem;
    }
}
.heading-5 {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    

    @media (max-width: $bp-small) {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        margin-left: .5rem;
    }

    
}
.heading-6 {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    @media (max-width: $bp-small) {
        font-size: 1rem;
       
    }
    
}
